
/*BEGIN PS3 Controller Styling*/
/*This class defines the base attributes of the skin*/
.controller.custom{
    background: url(drawing/drawing.svg); 
    background-repeat: no-repeat;
    background-position: -119px -6px;
    width: 719px;
    height: 324px;
    margin-left: -485px;
    margin-top: -212px;
}
.custom.disconnected {
    background: url(drawing/drawing.svg); 
    background-position: 0px -424px;
    background-repeat: no-repeat;
}
/* This hides the controller's button when disconnected so only the background image remains */ 
.custom.disconnected div {
    display: none;
}
.custom .triggers{ /* The triggers are housed inside a div, so this sizes the div properly and positions it */
    width: 759px;
    height: 34px;
    position: absolute;
    left: 104px;
}
.custom .trigger{/* These are the actual triggers themselves */
    width: 169px;
    height: 57px;
    opacity: 0;
}
.custom .trigger.left{ 
    float: left;
    background: url(drawing/drawing.svg); 
    background-position: -981px -78px;
    background-repeat: no-repeat;
    position: relative;
    left: -99px;
    top: 10px;
}
.custom .trigger.right{
    float: left;
    background: url(drawing/drawing.svg); 
    background-position: -978px -14px;
    background-repeat: no-repeat;
    position: relative;
    left: 246px;
    top: 8px;
}

.custom .quadrant{
    position: absolute;
    height: 17px;
    width: 111px;
    top: 140px;
    left: 240px;
}

.custom .p0{
    background-position: 0 -6px;
}
.custom .p1{
    background-position: 0 -28px;
}
.custom .p2{
    background-position: 0 -49px;
}
.custom .p3{
    background-position: 0 -70px;
}
/* This is to size and position the containing div for the 
start and select buttons. */
.custom .arrows{
    position: absolute;
    width: 176px;
    height: 62px;
    top: 207px;
    left: 238px;
}
/* Setting the size and CSS sprite for the start adn select buttons */
.custom .back, .custom .start{
    width: 75px;
    height: 70px;
}
.custom .back.pressed, .custom .start.pressed{
    background: url(drawing/drawing.svg);
    background-position: 411px -74px;
}
.custom .back{
    float: left;
    position: relative;
    left: 2px;
}
.custom .start{
    float: right;
    position: relative;
    left: 6px;
}
/* Positioning and size of the container for the face buttons */
.custom .abxy{
    position: absolute;
    width: 259px;
    height: 218px;
    top: 105px;
    left: 633px;
}
/* base class used to simplify the sprite mapping */
.custom .button{
    position: absolute;
    width: 79px;
    height: 79px;
}

.custom .a.pressed{
    background: url(drawing/drawing.svg);
    background-position: 527px -317px;
}

.custom .a{
    top: 128px;
    left: -66px;
}

.custom .b.pressed{
    background: url(drawing/drawing.svg);
    background-position: 449px -240px;
}

.custom .b{
    top: 61px;
    right: 178px;
}

.custom .x.pressed{
    background: url(drawing/drawing.svg);
    background-position: 606px -240px;
}

.custom .x{
    top: 61px;
    left: -135px;
}

.custom .y.pressed{
    background: url(drawing/drawing.svg);
    background-position: 527px -162px;
}

.custom .y{
    top: -7px;
    left: -66px;
}
/* Analog sticks follow the same principles as the triggers in terms of positioning
Note that the rotation of the sticks in hard coded with javascript, so it applies 
the CSS inline. */
.custom .sticks{
    position: absolute;
    width: 364px;
    height: 105px;
    top: 328px;
    left: 210px;
}
.custom .stick{
    position: absolute;
    height:105px;
    width: 105px;
}
.custom .stick.pressed.left{
    background-position-x: -106px;
}
.custom .stick.pressed.right{
    background-position-x: -211px;
}
.custom .stick.left{
    top: 0;
    left: 0;
}
.custom .stick.right{
    top: calc(100% - 105px);
    left: calc(100% - 105px);
}
/* Dpad possitioning and sizing */
.custom .dpad{
    position: absolute;
    width: 176px;
    height: 146px;
    top: 142px;
    left: 133px;
}
.custom .face{
    position: absolute;
}
.custom .face.up, .custom .face.down{
    width: 60px;
    height: 55px;
}
.custom .face.left, .custom .face.right{
    width: 55px;
    height: 60px;
}
.custom .face.up{
    left: -70px;
    top: -16px;
    background-position: 92px 0px;
}
.custom .face.down{
    left: -70px;
    top: 96px;
    background-position: 131px 0;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.custom .face.left{
    top: 37px;
    left: -124px;
    background-position: 0px 0;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.custom .face.right{
    top: 38px;
    right: 138px;
    background-position: 53px 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.custom .face.pressed{
    background: url(drawing/drawing.svg);
    background-position: 319px -79px;
}
/* NOTE: You NEED to set this to exactly half the height of what is listed 
for '.controller.custom' so when your skin is activated via player selection
parameters (e.g. http://mrmcpowned.com/gamepad?p=1) it will be correctly
centered on screen. */
.custom.half{
    margin-top: -279px;
}

/*END PS3 Controller Styling*/
